@using EntityLayer.Concrete;
@model List<Destination>;

<section class="w3l-grids-3 py-5">
  <div class="container py-md-5">
    <div class="row">
      <div class="col-6">
        <div class="title-content text-left mb-lg-5 mb-4">
          <h6 class="sub-title">Visit</h6>
          <h3 class="hny-title">Popular Destinations</h3>
        </div>
      </div>
      <div class="col-6 mt-4">
        <div class="mode-container2 ">
          <i id="dolar" class="fas fa-flip fa-2x fa-border fa-dollar-sign"></i>
          <i id="tl" class="fas fa-lira-sign fa-flip fa-2x fa-border disabled"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-ab-grids">
    <!--/row-grids-->
    @foreach (var item in Model)
    {
      <div class="col-lg-6 subject-card mt-lg-0 mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="@item.Image" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>@item.City</h4>
                <p>@item.DayNight</p>
                <div class="dst-btm">
                  <h6 class=""> Start From </h6>
                  <span class=""><i id="price" class="dolar fa-solid fa-dollar-sign">@item.Price</i></span>
                </div>
                <p class="sub-para">@item.Decription</p>
              </div>
            </div>
          </a>
        </div>
      </div>

    }
    <!--//row-grids-->
  </div>
  </div>
</section>
<script>
  let dolarElement = document.querySelector("#dolar");
  let tlElement = document.querySelector("#tl");
  let priceElement = document.querySelectorAll("#price");
  var myHeaders = new Headers();
  myHeaders.append("apikey", "ix3r3IZxWOjXKU3GwSBQfXpxI31eODYt");

  var requestOptions = {
    method: 'GET',
     redirect: 'follow',
    headers: myHeaders
   };

  var api = fetch("https://api.apilayer.com/exchangerates_data/latest", requestOptions)


api.then(response =>{
    const respData = response.json();
    return respData
}).then(respData =>{
   const TRY = respData.rates.TRY.toString().slice(0,3);
   const Dolar = TRY / respData.rates.USD.toString().slice(0,3);
   
  
   dolarElement.addEventListener("click", ()=>{
         for (let i = 0; i < priceElement.length; i++){
            priceElement[i].innerHTML=priceElement[i].innerHTML * TRY;
         }      
        dolarElement.classList.add("disabled");
        tlElement.classList.remove("disabled");
      
   })
   tlElement.addEventListener("click", ()=>{
     for (let i = 0; i < priceElement.length; i++){
             priceElement[i].innerHTML=priceElement[i].innerHTML / Dolar;
         }
     
      tlElement.classList.add("disabled");
      dolarElement.classList.remove("disabled");
   })
  
})

 



















//   const dolar = document.querySelector("#dolar");
//   const tl = document.querySelector("#tl");
//   let faruk = document.querySelectorAll("#price");
//   let ieuro = "fa-lira-sign";
//   let idolar = "fa-dollar-sign";


//   dolar.addEventListener("click", () => {
//     dolar.classList.add("disabled")
//     tl.classList.remove("disabled")
//     changeKur();

//   });
//   tl.addEventListener("click", () => {
//     tl.classList.add("disabled")
//     dolar.classList.remove("disabled")
    

//   });


//   ///////////////////////////////////////////////////////////////////////////////


//   var myHeaders = new Headers();
//   myHeaders.append("apikey", "ix3r3IZxWOjXKU3GwSBQfXpxI31eODYt");

//   var requestOptions = {
//     method: 'GET',
//     redirect: 'follow',
//     headers: myHeaders
//   };

//   var api =fetch("https://api.apilayer.com/exchangerates_data/latest", requestOptions)

//  changeKur = () => {
//     api.then(
//       response => {
//         return response.clone().json();
//       }
//     ).then(responseJson => {
//       const TRY = responseJson.rates.TRY;
//       const USD = TRY / responseJson.rates.USD;
//       dolar.addEventListener("click", () => {
//         for (let i = 0; i < faruk.length; i++) {
//           var value = faruk[i].innerHTML * USD.toString().slice(0,3);
//           faruk[i].innerHTML = value;
//           faruk[i].classList.remove(idolar)
//           faruk[i].classList.add(ieuro)
//         }
//       })
//     }
//     )
//   }


</script>